In [2]:
# Hello World
print('Hello, Python!')
print("Hello, Python!")
print('''Hello, Python!''')
print('"Hello, Python!"')
print("'Hello, Python!'")

Hello, Python!
Hello, Python!
Hello, Python!
"Hello, Python!"
'Hello, Python!'

In [5]:
# Add two numbers
number1 =5
number2 = 4
sum=number1+number2
print("The sum of the two numbers is:" , sum)

The sum of the two numbers is: 9

In [7]:
# What is the output of the below sum of the two numbers python program
num1 = input('Enter first number: ') #string
num2 = input('Enter second number: ') #string
sum = num1+num2
print('The sum of the numbers is ', sum)

Enter first number:  45
Enter second number:  45

The sum of the numbers is  4545

In [10]:
# What is the output of the below sum of the two numbers python program
num1 = input('Enter first number: ') #string
num2 = input('Enter second number: ') #string
sum = int(num1)+int(num2)
sub = int(num1)-int(num2)
mul = int(num1)*int(num2)
div = int(num1)/int(num2)

print('The sum of the numbers is ', sum)
print('The sub of the numbers is ', sub)
print('The mul of the numbers is ', mul)
print('The div of the numbers is ', div)

Enter first number:  100
Enter second number:  50

The sum of the numbers is  150
The sub of the numbers is  50
The mul of the numbers is  5000
The div of the numbers is  2.0

In [12]:
#Check odd or even
num1 = input("Enter a number: ")
if(int(num1)%2)==0:
    print("{0} is Even number".format(num1))
else:
    print("{0} is odd number".format(num1))

Enter a number:  6

6 is Even number

In [15]:
# Find maximum of two numbers
num1= input('Enter the first number: ')
num2= input('Enter the second number: ')

maximum = max(int(num1), int(num2))

print("The maximum number is: ", maximum)

Enter the first number:  34
Enter the second number:  56

The maximum number is:  56

In [11]:
# Check prime number
def PrimeChecking(num):
    if num>1:
        for i in range(2, int(num/2) + 1):
            if(num % i)==0:
                print("The number ", num, "is not a primr number")
                break
        else:
            print("The number ", num, "is a prime number")
    else:
        print("The number ", num, "is not a prime number")
num = int(input("Enter a number to check prime or not: "))
PrimeChecking(num)

Enter a number to check prime or not:  7

The number  7 is a prime number

In [12]:
# Factorial program without using if-else-for and ternary operators
import math
def factorial(num):
    return(math.factorial(num))

num = int(input('Please enter a number to find the factorial: '))
print("The factorial of the given number", num, "is", factorial(num))

Please enter a number to find the factorial:  5

The factorial of the given number 5 is 120

In [14]:
# Square root of a given number
n=float(input("Enter a number: "))

n_sqrt=n**0.5
print("The square root of {0} is {1}".format(n, n_sqrt))

Enter a number:  4

The square root of 4.0 is 2.0

In [16]:
# calculate the are of a triangle
s1 = float(input('Enter first side value: '))
s2 = float(input('Enter second side value: '))
s3 = float(input('Enter third side value: '))

sp = (s1+s2+s3)/2

area = (sp*(sp-s1)*(sp-2)*(sp-s3))**0.5
print('The area of the riangle is : ', area)

Enter first side value:  4
Enter second side value:  6
Enter third side value:  8

The area of the riangle is :  17.74823934929885

In [17]:
# Armstrong's number
num = int(input("Entr the number to check armstrong number: "))
arms =num
length = len(str(num))
sum1 =0

while num !=0:
    rem=num%10
    sum1 = sum1 +(rem**length)
    num = num//10
if arms == sum1:
    print("The given number", arms, "is armstrong number")
else:
    print("The given number", arms, "is not an armstrong number")

Entr the number to check armstrong number:  153

The given number 153 is armstrong number

In [23]:
#Leap year

def LeapYear(Year):
    if (Year % 400 == 0) or ((Year % 4 ==0) and (Year % 100 !=0)):
        print("The given Year is a Leap Year")
    else:
        print("The given Year is not a Leap Year")
Year = int(input("Enter the year to check whether a leap year or not: "))

LeapYear(Year)

Enter the year to check whether a leap year or not:  2021

The given Year is not a Leap Year

In [25]:
# Check prime number
prime_num = int(input(" Enter a numbe to check whether it is prime or not: "))
if prime_num > 1:
    for i in range(2, int(prime_num/2)+1):
        if (prime_num%i) == 0:
            print(prime_num, "is not a prime number")
            break
    else:
            print(prime_num, "is a prime number")
else:
        print(prime_num, "is not a prime number")

 Enter a numbe to check whether it is prime or not:  7

7 is a prime number

In [26]:
# display the multiplication table
tab_number = int(input("Enter the number of your choice to print the multiplication table: "))
print("The Multiplication Table of: ", tab_number)
for count in range(1, 11):
    print(tab_number, 'x', count, '=', tab_number * count)

Enter the number of your choice to print the multiplication table:  9

The Multiplication Table of:  9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [27]:
#swap two variable 
num1 = input('Enter the first variable: ')
num2 = input('Enter the second variable: ')

print('The value of num1 before swapping: {}'.format(num1))
print('The value of num2 before swapping: {}'.format(num2))

temp = num1
num1 = num2
num2 = temp

print('The value of num1 after swapping: {}'.format(num1))
print('The value of num2 after swapping: {}'.format(num2))

Enter the first variable:  5
Enter the second variable:  10

The value of num1 before swapping: 5
The value of num2 before swapping: 10
The value of num1 after swapping: 10
The value of num2 after swapping: 5

In [29]:
# Fabonacci number

fib_num = [0,1]
number = int(input('Enter the number you want to check for fibonacci number: '))
while fib_num[-1] <=number:
    fib_num.append(fib_num[-1] + fib_num[-2])
if number in fib_num:
    print(f'Yes. {number} is a fibonacci number.')
else:
    print(f'Yes. {number} is a NOT fibonacci number.')

Enter the number you want to check for fibonacci number:  10

Yes. 10 is a NOT fibonacci number.

In [1]:
#Area of Circle
def circ_Area(rad):
    PI=3.142
    return PI*(rad*rad)

rad = float(input('Enter the radius of the circle: '))
print("Area of the circle is %.6f" % circ_Area(rad))

Enter the radius of the circle:  4

Area of the circle is 50.272000

In [3]:
#Display Calendar
import calendar
year=int(input("Enter the year: "))
month = int(input("Enter the month: "))

print(calendar.month(year, month))

Enter the year:  2925
Enter the month:  08

    August 2925
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [4]:
#Factorial of given number
import math
def check_Fact(num):
    return(math.factorial(num))

num = int(input("Enter the number to find factorial: "))
fact = check_Fact(num)
print("Factorial of the number", num, "is", fact)

Enter the number to find factorial:  5

Factorial of the number 5 is 120

In [7]:
#print all prime numbers in an interval

def disp_Prime(num1, num2):
    prime_List = []
    for i in range(num1, num2):
        if i == 0 or i==1:
            continue
        else:
            for j in range(2, int(i/2)+1):
                if i%j ==0:
                    break
            else:
                prime_List.append(i)
    return prime_List
starting_Num = int(input('Enter the starting range: '))
ending_Num = int(input('Enter the ending range: '))
lst = disp_Prime(starting_Num, ending_Num)
if len(lst)==0:
    print("There are no prime numbers in this range")
else:
    print("The Prime numbers in the given range are: ", lst)

Enter the starting range:  5
Enter the ending range:  25

The Prime numbers in the given range are:  [5, 7, 11, 13, 17, 19, 23]

In [8]:
# Find vowels from a string

def get_vowels(String):
    return [each for each in String if each in "aeiou"]
get_string1 = "hello"
get_string2 = "python is fun"
get_string3 = "ahsanlabsolution"
get_string4 = "12345xyz"

print("The Vowels are: ", get_vowels(get_string1))
print("The Vowels are: ", get_vowels(get_string2))
print("The Vowels are: ", get_vowels(get_string3))
print("The Vowels are: ", get_vowels(get_string4))

The Vowels are:  ['e', 'o']
The Vowels are:  ['o', 'i', 'u']
The Vowels are:  ['a', 'a', 'a', 'o', 'u', 'i', 'o']
The Vowels are:  []

In [9]:
# comma separated list t a string

favourite_prog = ["Python", "SQL", "GO"]
print("What is your favourite programming language:",",".join(favourite_prog))

What is your favourite programming language: Python,SQL,GO

In [12]:
# Capitalize the forst letter of a string

def capitalize(String):
    return String.title()

get_capital1 = "hello"
get_capital2 = "python programming"
get_capital3 = "python is easy to learn"

print("The Capitalized String is: ", capitalize(get_capital1))
print("The Capitalized String is: ", capitalize(get_capital2))
print("The Capitalized String is: ", capitalize(get_capital3))

The Capitalized String is:  Hello
The Capitalized String is:  Python Programming
The Capitalized String is:  Python Is Easy To Learn

In [13]:
# Implicit type casting example

get_num1= 199
get_num2 = 1.25
get_num3 = get_num1 + get_num2

print("Datatype of get_num1:", type(get_num1))
print("Datatype of get_num2:", type(get_num2))

print("The value of get_num3:", get_num3)
print("Datatype of get_num3:", type(get_num3))

Datatype of get_num1: <class 'int'>
Datatype of get_num2: <class 'float'>
The value of get_num3: 200.25
Datatype of get_num3: <class 'float'>

In [14]:
# Implicit type casting example

num1=123
num2="456"

print("Datatype of num1:", type(num1))
print("Datatype of num2:", type(num2))
print("num1 datatype is:", type(num1+num2))

Datatype of num1: <class 'int'>
Datatype of num2: <class 'str'>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [15]:
#Explicit type casting example

num1=123
num2="456"

print("Datatype of num1:", type(num1))
print("Datatype of num2 before type casting:", type(num2))

num2 = int(num2)
print("Datatype of num2 after type casting is:", type(num2))

num3=num1+num2
print("Sum of num1 and num2:", num3)
print("Data type of the num3:", type(num3))

Datatype of num1: <class 'int'>
Datatype of num2 before type casting: <class 'str'>
Datatype of num2 after type casting is: <class 'int'>
Sum of num1 and num2: 579
Data type of the num3: <class 'int'>

In [16]:
# Namespace programming example

def outer_function():
    num = 20

    def inner_function():
        num = 30
        print('num =', num)

    inner_function()
    print('num =', num)

num = 10
outer_function()
print('num =', num)

num = 30
num = 20
num = 10

In [17]:
# Namespace programming example

def outer_function():
    global num
    num = 20

    def inner_function():
        global num
        num = 30
        print('num =', num)

    inner_function()
    print('num =', num)

num = 10
outer_function()
print('num =', num)

num = 30
num = 30
num = 30

In [18]:
# What does this do, and why should one include the if statement

if __name__ == "__main__":
    print("Hello, World!")

Hello, World!

In [20]:
#What does __all__ mean in python

__all__ = ['bar', 'baz']
waz=5
bar=10
def baz(): return 'baz'

from foo import*
print(bar)
print(baz)

print(waz)

ModuleNotFoundError: No module named 'foo'